<h2>All Orders</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Adress</th>
      <th>Pickup</th>
      <th>Courier</th>
      <th>Delivered</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for order <- @orders do %>
    <tr>
      <td><%= order.name %></td>
      <td><%= order.adress %></td>
      <td><%= order.pickup %></td>
      <td><%= order.courier %></td>
      <td><%= order.delivered %></td>

      <td class="text-right">
        <span><%= link "Edit", to: order_path(@conn, :edit, order), class: "btn btn-default btn-xs" %></span>
        
      </td>
    </tr>
<% end %>
  </tbody>
</table>
