<ul>
<h5> Here are today's orders</h5>
  <%= for order <- @orders1 do %>
    <li><%= order.name %>, <%= order.pickup %></li>
  <% end %>
  </ul>

  <form>
  <input type="button" value="Go back!" onclick="history.back()">
</form>